Repository prgrms-fe-devcourse/NFE1-2-3-AppleNote, pull requests merged in 2024-10, with the labels that each got.

#10 [Frontend] 카테고리 조회, 생성 기능 구현
  .DS_Store
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/components/category/.keep
  frontend/src/components/category/Category.tsx
  frontend/src/components/category/categoryApi.ts
  frontend/src/components/main/HomePage.tsx
  frontend/src/mocks/handlers/categories.ts
  package-lock.json
  package.json
Labels: 🍎 frontend

#15 [Backend] API 미들웨어, 사용자 조회 및 비밀번호 변경
  backend/src/app.ts
  backend/src/controller/userController.ts
  backend/src/middleware/middleware.ts
  backend/src/models/userModel.ts
  backend/src/routes/userRoutes.ts
  backend/src/service/userService.ts
  backend/src/types/express.d.ts
  backend/src/types/express/index.d.ts
  backend/src/types/index.ts
  backend/tsconfig.json
  package-lock.json
  package.json
Labels: 🍏 backend

#13 [Backend] 포스트 API 작업
  backend/package-lock.json
  backend/package.json
  backend/src/controller/postController.ts
  backend/src/models/postModel.ts
  backend/src/routes/postRoutes.ts
  backend/src/service/postService.ts
  backend/src/types/category.ts
  backend/src/types/errorStatus.ts
  backend/src/types/index.ts
  backend/src/types/post.ts
  backend/src/utils/Error.ts
  backend/src/utils/createError.ts
  backend/src/utils/validators.ts
Labels: 🍏 backend

#14 [Frontend] 라우터 지정, 포스트 등록 페이지 구현
  frontend/src/components/post/.keep
  frontend/src/components/post/CreatePostPage.tsx
  frontend/src/routes/router.tsx
Labels: 🍎 frontend

#19 [Backend] 로그인 API 타입 에러 수정 (#11)
  backend/src/controller/userController.ts
  backend/src/service/userService.ts
  backend/src/types/express/index.d.ts
Labels: 🍏 backend

#22 [Backend] 로그인 API 타입 에러 수정 (#3)
  backend/.env.template
  backend/src/controller/postController.ts
  backend/src/models/postModel.ts
  backend/src/models/userModel.ts
  backend/src/routes/postRoutes.ts
  backend/src/service/postService.ts
  backend/src/utils/Error.ts
  backend/src/utils/validators.ts
Labels: 🍏 backend

#21 [Backend] 회원탈퇴 및 유저 조회 기능
  backend/src/controller/userController.ts
  package-lock.json
  package.json
Labels: 🍏 backend

#18 [Frontend] 카테고리 수정 기능 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/category/Category.tsx
  frontend/src/components/category/categoryApi.ts
  frontend/src/mocks/handlers/categories.ts
Labels: 🍎 frontend

#23 [Frontend] 최신 포스트 출력 영역, 전체 포스트 목록 페이지 구현
  frontend/public/mockServiceWorker.js
  frontend/src/components/main/AppLayout.tsx
  frontend/src/components/main/CategorySection.tsx
  frontend/src/components/main/Header.tsx
  frontend/src/components/main/HomePage.tsx
  frontend/src/components/main/HorizontalPostCard.tsx
  frontend/src/components/main/LatestPosts.tsx
  frontend/src/components/main/PaginationComponent.tsx
  frontend/src/components/main/PostListPage.tsx
  frontend/src/components/main/postApi.ts
  frontend/src/mocks/handlers/categories.ts
  frontend/src/mocks/handlers/posts.ts
  frontend/src/routes/router.tsx
  package-lock.json
Labels: 🍎 frontend

#24 [Frontend] 포스트 등록페이지 버튼 생성, 확인 및 삭제버튼 기능, 삭제확인 모달창
  frontend/src/components/post/CreatePostPage.tsx
Labels: 🍎 frontend

#29 [Frontend] 카테고리 삭제 기능 구현 및 최적화
  frontend/src/components/category/Category.tsx
  frontend/src/components/category/categoryApi.ts
  frontend/src/mocks/handlers/categories.ts
Labels: 🍎 frontend

#26 [Frontend] 삭제 확인 모달 수정, 미리보기 모달 구현
  frontend/src/components/post/CreatePostPage.tsx
Labels: 🍎 frontend

#30 [Frontend] api 일부 수정 및 설정페이지 기초 구조
  backend/src/controller/userController.ts
  backend/src/routes/authRoutes.ts
  frontend/src/assets/icons/edit.svg
  frontend/src/components/myPage/SettingPage.tsx
  frontend/src/components/myPage/userApi.ts
  frontend/src/routes/router.tsx
Labels: 🍏 backend, 🍎 frontend

#28 [Backend] 카테고리 API 작업
  backend/src/app.ts
  backend/src/controller/categoryController.ts
  backend/src/controller/postController.ts
  backend/src/models/categoryModel.ts
  backend/src/models/postModel.ts
  backend/src/routes/categoryRoutes.ts
  backend/src/service/categoryService.ts
  backend/src/service/postService.ts
  backend/src/types/category.ts
  backend/src/types/errorStatus.ts
  backend/src/types/index.ts
  backend/src/utils/Error.ts
  backend/src/utils/createError.ts
Labels: 🍏 backend

#25 [Root] Root 디렉토리 스크립트 추가 방지
  .husky/pre-commit
  README.md
  package-lock.json
  package.json
Labels: 🍏 backend, 🍎 frontend

#33 [Frontend] 헤더 영역 일부 수정 및 카테고리별 최신 포스트 영역 일부 구현, main 브랜치 최신화 후 작업
  frontend/public/logo(darkmode).png
  frontend/src/assets/icons/search-icon.svg
  frontend/src/assets/icons/settings.svg
  frontend/src/components/main/AppLayout.tsx
  frontend/src/components/main/CategoryLatestPosts.tsx
  frontend/src/components/main/Header.tsx
  frontend/src/components/main/HomePage.tsx
  frontend/src/components/main/HorizontalPostCard.tsx
  frontend/src/components/main/LatestPosts.tsx
  frontend/src/components/main/PostListPage.tsx
  frontend/src/components/main/bannerApi.ts
  frontend/src/components/main/headerApi.ts
  frontend/src/components/main/postApi.ts
  frontend/src/mocks/handlers/categories.ts
  frontend/src/mocks/handlers/posts.ts
Labels: 🍎 frontend

#39 [Frontend] 새로고침, 수동 페이지 라우터 진입시 로그인 정보 사라짐 이슈 수정
  frontend/src/common/styles/ThemeProvider.tsx
  frontend/src/common/utils/localStorageHelper.ts
  frontend/src/components/auth/AuthContext.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/Message.tsx
  frontend/src/components/auth/Signup.tsx
  frontend/src/components/auth/localStorage.ts
  frontend/src/components/auth/useAuth.ts
  frontend/src/components/myPage/userApi.ts
  frontend/src/main.tsx
Labels: 🍎 frontend

#38 [Frontend] 카테고리별 최신 포스트 목록 마무리, 푸터 영역 구현, 스타일 수정
  frontend/public/logo(darkmode).png
  frontend/public/logo.png
  frontend/src/common/styles/theme.ts
  frontend/src/components/main/AppLayout.tsx
  frontend/src/components/main/CategoryLatestPosts.tsx
  frontend/src/components/main/CategorySection.tsx
  frontend/src/components/main/Footer.tsx
  frontend/src/components/main/Header.tsx
  frontend/src/components/main/HomePage.tsx
  frontend/src/components/main/HorizontalPostCard.tsx
  frontend/src/components/main/LatestPosts.tsx
  frontend/src/components/main/PostListPage.tsx
  frontend/src/components/main/bannerApi.ts
  frontend/src/components/main/headerApi.ts
  frontend/src/components/main/postApi.ts
  frontend/src/mocks/handlers/posts.ts
  frontend/src/routes/router.tsx
Labels: 🍎 frontend

#40 [Frontend] 설정페이지 기능 구현
  frontend/src/components/main/AppLayout.tsx
  frontend/src/components/main/Header.tsx
  frontend/src/components/myPage/ChangePw.tsx
  frontend/src/components/myPage/SettingPage.tsx
  frontend/src/components/myPage/userApi.ts
  frontend/src/routes/router.tsx
Labels: 🍎 frontend

#41 [Frontend] 삭제 시 직전 페이지 이동, 상세페이지 생성 및 라우터 연결, 상세페이지 임시 완성
  frontend/src/components/post/CreatePostPage.tsx
  frontend/src/components/post/PostPage.tsx
  frontend/src/components/post/postAPI.ts
  frontend/src/routes/router.tsx
Labels: 🍎 frontend

#42 [Frontend] 랜딩 페이지 구현
  frontend/src/assets/images/.keep
  frontend/src/assets/images/apple.png
  frontend/src/assets/images/apple3.jpg
  frontend/src/assets/images/apple4.jpg
  frontend/src/assets/images/papers.png
  frontend/src/components/landing/.keep
  frontend/src/components/landing/LandingPage.tsx
  frontend/src/routes/router.tsx
  package.json
Labels: 🍎 frontend

#44 [Frontend] 검색 페이지 및 기능 구현, 라우터 경로 추가 및 수정, 스타일 수정, 리팩토링 작업
  frontend/src/common/components/Divider.tsx
  frontend/src/common/components/LogoSection.tsx
  frontend/src/common/components/PaginationComponent.tsx
  frontend/src/common/components/SearchBar.tsx
  frontend/src/common/components/SettingsButton.tsx
  frontend/src/common/components/ThemeToggleButton.tsx
  frontend/src/common/components/UploadButton.tsx
  frontend/src/common/styles/theme.ts
  frontend/src/components/auth/Login.tsx
  frontend/src/components/main/AppLayout.tsx
  frontend/src/components/main/CategoryLatestPosts.tsx
  frontend/src/components/main/Footer.tsx
  frontend/src/components/main/Header.tsx
  frontend/src/components/main/LatestPosts.tsx
  frontend/src/components/main/PostListPage.tsx
  frontend/src/components/main/postApi.ts
  frontend/src/components/search/.keep
  frontend/src/components/search/SearchResultPage.tsx
  frontend/src/routes/router.tsx
  package.json
Labels: 🍎 frontend

#45 [Frontend] 랜딩 페이지 반응형 적용 및 router 오류 수정
  frontend/src/assets/images/paper.png
  frontend/src/components/landing/LandingPage.tsx
  package.json
Labels: 🍎 frontend

#46 [Backend] 카테고리 API & 포스트 API
  backend/src/app.ts
  backend/src/controller/categoryController.ts
  backend/src/controller/postController.ts
  backend/src/models/categoryModel.ts
  backend/src/routes/categoryRoutes.ts
  backend/src/routes/postRoutes.ts
  backend/src/service/categoryService.ts
  backend/src/service/postService.ts
  backend/src/types/post.ts
Labels: 🍏 backend

#49 [Backend] 카테고리 API & 포스트 API
  backend/src/controller/categoryController.ts
  backend/src/controller/postController.ts
  backend/src/models/categoryModel.ts
  backend/src/models/postModel.ts
  backend/src/routes/categoryRoutes.ts
  backend/src/routes/postRoutes.ts
  backend/src/service/categoryService.ts
  backend/src/service/postService.ts
  backend/src/types/category.ts
  backend/src/types/post.ts
Labels: 🍏 backend

#48 [Frontend, Backend] 설정페이지 이름변경 및 프로필이미지 변경(확장기능)
  backend/src/controller/userController.ts
  backend/src/routes/userRoutes.ts
  frontend/src/components/myPage/ChangePw.tsx
  frontend/src/components/myPage/NameEditModal.tsx
  frontend/src/components/myPage/SettingPage.tsx
  frontend/src/components/myPage/userApi.ts
Labels: 🍏 backend, 🍎 frontend

#50 [Frontend] 아이콘 추가, 네비게이션 추가, fetch post 리팩토링, API 추가
  frontend/src/components/post/CreatePostPage.tsx
  frontend/src/components/post/PostPage.tsx
  frontend/src/components/post/postAPI.ts
Labels: 🍎 frontend
