Repository prgrms-fe-devcourse/NFE1-2-3-AppleNote, pull requests merged in 2024-11, with the labels that each got.

#53 [Backend] 카테고리 API & 포스트 API
  backend/.env.template
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/config/FirebaseStorage.ts
  backend/src/config/MongooseDatabase.ts
  backend/src/config/firebaseConfig.ts
  backend/src/config/index.ts
  backend/src/controller/postController.ts
  backend/src/models/categoryModel.ts
  backend/src/models/postModel.ts
  backend/src/routes/categoryRoutes.ts
  backend/src/routes/postRoutes.ts
  backend/src/service/categoryService.ts
  backend/src/service/fileService.ts
  backend/src/service/postService.ts
  backend/src/types/index.ts
  backend/src/utils/Logger.ts
  backend/src/utils/validators.ts
Labels: 🍏 backend

#54 [Frontend] 헤더 영역, 포스트 목록 관련 영역 스타일 수정 및 관련 함수 추가
  frontend/.gitignore
  frontend/src/common/components/MoreButton.tsx
  frontend/src/common/components/SearchBar.tsx
  frontend/src/common/components/SettingsButton.tsx
  frontend/src/components/main/CategoryLatestPosts.tsx
  frontend/src/components/main/CategorySection.tsx
  frontend/src/components/main/Header.tsx
  frontend/src/components/main/HomePage.tsx
  frontend/src/components/main/HorizontalPostCard.tsx
  frontend/src/components/main/LatestPosts.tsx
  frontend/src/components/main/PostListPage.tsx
Labels: 🍎 frontend

#55 [Frontend] post 생성 및 상세페이지 API 적용
  frontend/src/common/api/fetch.ts
  frontend/src/components/post/CreatePostPage.tsx
  frontend/src/components/post/PostPage.tsx
  frontend/src/components/post/postAPI.ts
Labels: 🍎 frontend

#57 [Feat] 설정페이지 배너 수정 기능
  backend/src/controller/userController.ts
  backend/src/routes/userRoutes.ts
  frontend/src/components/main/Banner.tsx
  frontend/src/components/main/bannerApi.ts
  frontend/src/components/myPage/BannerModalContext.tsx
  frontend/src/components/myPage/ChangePw.tsx
  frontend/src/components/myPage/SettingPage.tsx
  frontend/src/components/myPage/api/userApi.ts
  frontend/src/components/myPage/modals/BannerEditModal.tsx
  frontend/src/components/myPage/modals/NameEditModal.tsx
  frontend/src/components/myPage/modals/ProfileEditModal.tsx
  frontend/src/main.tsx
Labels: 🍏 backend, 🍎 frontend

#58 [Backend] 프로젝트 개선
  backend/src/app.ts
  backend/src/controllers/categoryController.ts
  backend/src/controllers/postController.ts
  backend/src/controllers/userController.ts
  backend/src/middleware/index.ts
  backend/src/routes/authRoutes.ts
  backend/src/routes/categoryRoutes.ts
  backend/src/routes/postRoutes.ts
  backend/src/routes/userRoutes.ts
  backend/src/services/categoryService.ts
  backend/src/services/fileService.ts
  backend/src/services/postService.ts
  backend/src/services/userService.ts
Labels: 🍏 backend

#59 [Frontend] 수정페이지 추가, 삭제 및 수정 API 적용
  frontend/src/components/post/EditPostPage.tsx
  frontend/src/components/post/PostPage.tsx
  frontend/src/routes/router.tsx
Labels: 🍎 frontend

#60 [Backend] backend 잘못된 경로 수정❗️
  backend/src/models/postModel.ts
  backend/src/repositories/postRepository.ts
  backend/src/services/postService.ts
Labels: 🍏 backend

#62 [Frontend] 요청 헤더 토큰 미반영 이슈 수정
  frontend/src/common/api/fetch.ts
Labels: 🍎 frontend

#65 fix: 요청 인터셉터 삭제 (#61)
  frontend/src/common/api/fetch.ts
  frontend/src/components/auth/AuthContext.tsx
Labels: 🍎 frontend

#63 [Frontend] 카테고리 선택하면 포스트리스트로 이동, 실제 api 적용
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/components/category/Category.tsx
  frontend/src/components/category/categoryApi.ts
Labels: 🍎 frontend

#64 [Frontend] 랜딩페이지 반응형 추가 수정
  frontend/src/components/landing/LandingPage.tsx
Labels: 🍎 frontend

#67 [Backend] backend 로직 개선 & API 에러 수정
  backend/.env.template
  backend/src/app.ts
  backend/src/controllers/categoryController.ts
  backend/src/controllers/postController.ts
  backend/src/models/categoryModel.ts
  backend/src/models/postModel.ts
  backend/src/repositories/categoryRepository.ts
  backend/src/repositories/postRepository.ts
  backend/src/routes/categoryRoutes.ts
  backend/src/services/categoryService.ts
  backend/src/services/postService.ts
  backend/src/utils/validators.ts
Labels: 🍏 backend

#66 [Frontend] 헤더 영역 수정, 페이지네이션 관련 기능 추가, 포스트 카드 기본 이미지 관련 추가, 피드백 반영, 스타일 수정
  frontend/public/logo(darkmode).png
  frontend/public/logo.png
  frontend/src/assets/images/default-thumbnail.jpg
  frontend/src/common/components/CategorySection.tsx
  frontend/src/common/components/DesktopCategoryWrapper.tsx
  frontend/src/common/components/Divider.tsx
  frontend/src/common/components/FaBarsWrapper.tsx
  frontend/src/common/components/HorizontalPostCard.tsx
  frontend/src/common/components/LogoSection.tsx
  frontend/src/common/components/MoreButton.tsx
  frontend/src/common/components/PaginationComponent.tsx
  frontend/src/common/styles/theme.ts
  frontend/src/components/main/CategoryLatestPosts.tsx
  frontend/src/components/main/Footer.tsx
  frontend/src/components/main/Header.tsx
  frontend/src/components/main/HomePage.tsx
  frontend/src/components/main/LatestPosts.tsx
  frontend/src/components/main/PostListPage.tsx
  frontend/src/components/main/bannerApi.ts
  frontend/src/components/main/postApi.ts
  frontend/src/components/search/PostsGrid.tsx
Labels: 🍎 frontend

#68 [Frontend] protected routes 구성
  frontend/src/routes/ProtectedRoute.tsx
  frontend/src/routes/router.tsx
Labels: 🍎 frontend

#69 [Frontend] 포스트 생성 카테고리 재생성 및 적용, API 적용, type 변경, 이미지 type 변경 및 적용
  frontend/src/components/category/SelectCategory.tsx
  frontend/src/components/post/CreatePostPage.tsx
  frontend/src/components/post/EditPostPage.tsx
  frontend/src/components/post/PostPage.tsx
  frontend/src/components/post/postAPI.ts
Labels: 🍎 frontend

#70 [Frontend] 프로필이미지, 배너이미지 변경
  frontend/src/components/main/Banner.tsx
  frontend/src/components/main/Header.tsx
  frontend/src/components/main/headerApi.ts
  frontend/src/components/myPage/BannerModalContext.tsx
  frontend/src/components/myPage/Context/ModalContext.tsx
  frontend/src/components/myPage/SettingPage.tsx
  frontend/src/main.tsx
Labels: 🍎 frontend

#71 [Frontend] 랜딩페이지 수정
  frontend/src/components/landing/LandingPage.tsx
Labels: 🍎 frontend

#72 [Frontend] 카테고리별 포스트 조회 기능 및 관련 예외 처리 컴포넌트 추가, 드롭다운 오류 수정, navigate 수정
  frontend/src/common/components/FaBarsWrapper.tsx
  frontend/src/common/components/HorizontalPostCard.tsx
  frontend/src/common/utils/getThumbnailSrc.ts
  frontend/src/components/auth/Signup.tsx
  frontend/src/components/category/Category.tsx
  frontend/src/components/main/CategoryLatestPosts.tsx
  frontend/src/components/main/LatestPosts.tsx
  frontend/src/components/main/PostListPage.tsx
Labels: 🍎 frontend

#74 [Frontend] 좌우이동 기능 완료 (#5)
  frontend/src/components/post/PostPage.tsx
Labels: 🍎 frontend

#75 [Frontend] 상세페이지 기본 이미지 표시, 임시저장 기능 추가, 미리보기 기본이미지 설정
  frontend/src/components/post/CreatePostPage.tsx
  frontend/src/components/post/PostPage.tsx
  frontend/src/components/post/postAPI.ts
Labels: 🍎 frontend

#76 [Frontend] 카테고리별 컴포넌트 및 더보기 버튼 관련 버그 수정, import 주소 수정
  frontend/src/common/components/FaBarsWrapper.tsx
  frontend/src/common/components/HorizontalPostCard.tsx
  frontend/src/components/category/Category.tsx
  frontend/src/components/main/Banner.tsx
  frontend/src/components/main/CategoryLatestPosts.tsx
  frontend/src/components/main/Header.tsx
  frontend/src/components/main/LatestPosts.tsx
  frontend/src/components/main/PostListPage.tsx
  frontend/src/components/search/PostsGrid.tsx
  frontend/src/components/search/SearchResultPage.tsx
Labels: 🍎 frontend

#73 [Frontend] 이미지 변경 모달 수정
  backend/src/controllers/userController.ts
  backend/src/routes/userRoutes.ts
  backend/src/services/userService.ts
  frontend/src/components/main/Banner.tsx
  frontend/src/components/myPage/ChangePw.tsx
  frontend/src/components/myPage/SettingPage.tsx
  frontend/src/components/myPage/api/userApi.ts
  frontend/src/components/myPage/modals/BannerEditModal.tsx
  frontend/src/components/myPage/modals/NameEditModal.tsx
  frontend/src/components/myPage/modals/ProfileEditModal.tsx
Labels: 🍎 frontend

#78 [Backend] userController, userService 수정
  backend/src/controllers/userController.ts
  backend/src/routes/authRoutes.ts
  backend/src/routes/userRoutes.ts
  backend/src/services/userService.ts
  package-lock.json
Labels: 🍏 backend

#77 [Frontend] 기본 카테고리 생성, 폰트 변경, 한글 문구 영어로 변경
  frontend/index.html
  frontend/src/common/styles/GlobalStyle.tsx
  frontend/src/components/auth/Signup.tsx
  frontend/src/components/category/Category.tsx
  frontend/src/components/landing/LandingPage.tsx
  frontend/src/components/main/CategoryLatestPosts.tsx
  frontend/src/components/main/Header.tsx
  frontend/src/components/main/LatestPosts.tsx
  frontend/src/components/main/PostListPage.tsx
  frontend/src/components/myPage/modals/BannerEditModal.tsx
  frontend/src/components/myPage/modals/NameEditModal.tsx
  frontend/src/components/myPage/modals/ProfileEditModal.tsx
  frontend/src/components/search/SearchResultHeader.tsx
  frontend/src/components/search/SearchResultPage.tsx
  frontend/src/components/setting/.keep
Labels: 🍎 frontend

#79 [Frontend] 상세페이지 삭제모달 추가, 확인버튼 동작 수정, 기본 카테고리 추가
  frontend/src/components/category/SelectCategory.tsx
  frontend/src/components/post/CreatePostPage.tsx
  frontend/src/components/post/PostPage.tsx
  frontend/src/components/post/postAPI.ts
Labels: 🍎 frontend

#80 [Frontend] 화면 너비에 따른 배너 이미지 스타일 수정, 전체 포스트 페이지 이동 시 문구 수정
  frontend/src/components/main/Banner.tsx
  frontend/src/components/main/PostListPage.tsx
  package-lock.json
Labels: 🍎 frontend

#82 [Frontend] 회원가입 시 카테고리 자동 생성 및 수정 삭제 불가, 업로드 시 자동 선택
  frontend/src/common/styles/GlobalStyle.tsx
  frontend/src/components/auth/Signup.tsx
  frontend/src/components/category/Category.tsx
  frontend/src/components/category/SelectCategory.tsx
  frontend/src/components/main/PostListPage.tsx
  frontend/src/components/post/CreatePostPage.tsx
Labels: 🍎 frontend

#83 [Frontend] 설정페이지 css 수정
  frontend/src/components/myPage/ChangePw.tsx
  frontend/src/components/myPage/SettingPage.tsx
Labels: 🍎 frontend

#84 [Frontend] 기본 카테고리 순서 수정
  frontend/src/components/category/SelectCategory.tsx
  frontend/src/components/post/CreatePostPage.tsx
Labels: 🍎 frontend

#85 [Frontend] 스타일 수정
  frontend/src/components/main/AppLayout.tsx
  frontend/src/components/post/EditPostPage.tsx
  frontend/src/components/post/PostPage.tsx
Labels: 🍎 frontend

#87 fix: 수정페이지 삭제 및 카테고리 누락 수정 (#5)
  frontend/src/components/post/EditPostPage.tsx
  frontend/src/components/post/postAPI.ts
Labels: 🍎 frontend

#88 [Frontend] 설정페이지 css 수정
  frontend/src/components/myPage/SettingPage.tsx
Labels: 🍎 frontend

#89 [Frontend] 임시저장 이미지 버그 해결 + 이미지 삭제 버튼 추가
  frontend/src/components/post/CreatePostPage.tsx
  frontend/src/components/post/EditPostPage.tsx
  frontend/src/components/post/postAPI.ts
Labels: 🍎 frontend

#90 [Fix] 카테고리 제외 적용 + 수정시 카테고리 적용 (#5)
  frontend/src/components/post/EditPostPage.tsx
  frontend/src/components/post/postAPI.ts
Labels: 🍎 frontend

#91 [Frontend] 로고 수정 및 기타 수정
  frontend/src/assets/icons/Logo.png
  frontend/src/common/components/LogoSection.tsx
  frontend/src/common/components/SearchBar.tsx
  frontend/src/common/styles/theme.ts
  frontend/src/components/landing/LandingPage.tsx
  frontend/src/components/main/Header.tsx
Labels: 🍎 frontend

#92 [Feat] 영문 적용 + 임시저장 제거 (#5)
  frontend/src/components/post/EditPostPage.tsx
Labels: 🍎 frontend

#94 [Frontend] 영문 및 미리보기 모달창 스타일 적용 (#5)
  frontend/src/components/category/SelectCategory.tsx
  frontend/src/components/post/CreatePostPage.tsx
  frontend/src/components/post/EditPostPage.tsx
Labels: 🍎 frontend

#95 [Frontend] 오류수정
  frontend/src/components/post/CreatePostPage.tsx
  frontend/src/components/post/EditPostPage.tsx
Labels: 🍎 frontend

#97 [Backend] backend 리드미 작성
  backend/README.md
Labels: 🍏 backend

#98 [Frontend] 스타일 수정 및 페이지네이션 버그 수정, 리드미 작성
  README.md
  frontend/README.md
  frontend/src/common/components/ThemeToggleButton.tsx
  frontend/src/components/main/Header.tsx
  frontend/src/components/main/PostListPage.tsx
  frontend/src/components/search/SearchResultPage.tsx
Labels: 🍎 frontend
